/* styles.css */

html {
	width: 100%;
	height: 100%;
}

body {
	margin: 1rem;
	background-color: black;
	color: rgb(255, 143, 69);
	font-size: 5rem;
	overflow: hidden;
	
	background: url("../img/pangea girls.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    margin: 10% 40rem 0 20rem;
} 

.last { 
	padding-bottom: 3rem;
	border-bottom: 3px solid rgb(185, 128, 105);
}

div {
	transition-property: transform;
	transition-duration: 3s;
}



* {
	font-family: "Playfair Display";
}

